@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= GLOBAL ================= */

html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.text-gold {
  color: #d4af37;
}

.bg-gold {
  background-color: #d4af37;
}

.border-gold {
  border-color: #d4af37;
}

.font-cinzel {
  font-family: 'Cinzel', serif;
}

/* ================= SMOOTH ================= */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
